//META{"name":"Edited Breakfast Club Theme","description":"Made by: Spythiel, Original: GameOver","author":"Groax","version":"1.0.0"}*//{}

@import url('https://spthiel.github.io/css/CodeBlocks.raw.css');
@import url('https://spthiel.github.io/css/GameOver.raw.css');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

/*              Background          */

body {

	background: url(https://i.pinimg.com/originals/01/92/5b/01925b118b57702938149eb34003fff7.jpg);

}

.colorSelectedVoice-ieXC3Z,
.colorSelectedText-3YhFC6 {
	color: rgb(255, 0, 255);
	stroke: rgb(255,0,255);
}

.colorUnreadText-1KwCnP,
.colorUnreadVoice-1Ztv9I {
	color: rgba(150, 0, 150);
	stroke: rgb(150, 0, 150);
}

.channel-members .member .avatar-small:-webkit-any([style*="305180184712183810"],[style*="342144602196934666"],[style*="200441902372225024"],[style*="285164362816159745"],[style*="159025984971079680"],[style*="249279952225042432"],[style*="209162576389472257"],[style*="133347437304610816"],[style*="328368410360676353"]) ~ .member-inner .member-username .member-username-inner::after {
	content: "TBC";
	--badgecolor: 255, 255, 255;
	border-color: rgb(var(--badgecolor));
	color: rgb(var(--badgecolor));
	background: rgba(var(--badgecolor), 0.0980392);

}

/* Regina */
.message-group:not(.compact) .avatar-large:-webkit-any([style*="305180184712183810"]) ~ .comment .message h2 span.username-wrapper::after {
		content: "Regina";
		--badgecolor: 115, 73, 207;
		border-color: rgb(var(--badgecolor));
		color: rgb(var(--badgecolor));
		background: rgba(var(--badgecolor), 0.0980392);
	
}

/* Razor */
.message-group:not(.compact) .avatar-large:-webkit-any([style*="342144602196934666"]) ~ .comment .message h2 span.username-wrapper::after {
		content: "Razor";
		--badgecolor: 210, 35, 20;
		border-color: rgb(var(--badgecolor));
		color: rgb(var(--badgecolor));
		background: rgba(var(--badgecolor), 0.0980392);
	
}

/* Jazzy */
.message-group:not(.compact) .avatar-large:-webkit-any([style*="285164362816159745"]) ~ .comment .message h2 span.username-wrapper::after {
		content: "Jazzy";
		--badgecolor: 21, 171, 209;
		border-color: rgb(var(--badgecolor));
		color: rgb(var(--badgecolor));
		background: rgba(var(--badgecolor), 0.0980392);
	
}

/* Emo */
.message-group:not(.compact) .avatar-large:-webkit-any([style*="209162576389472257"]) ~ .comment .message h2 span.username-wrapper::after {
		content: "Emo";
		--badgecolor: 0, 0, 0;
		border-color: rgb(var(--badgecolor));
		color: rgb(var(--badgecolor));
		background: rgba(var(--badgecolor), 0.0980392);
	
	}
/* Flea */
.message-group:not(.compact) .avatar-large:-webkit-any([style*="249279952225042432"]) ~ .comment .message h2 span.username-wrapper::after {
		content: "Flea";
		--badgecolor: 255, 255, 0;
		border-color: rgb(var(--badgecolor));
		color: rgb(var(--badgecolor));
		background: rgba(var(--badgecolor), 0.0980392);
	
}

/* Celeste */
.message-group:not(.compact) .avatar-large:-webkit-any([style*="133347437304610816"]) ~ .comment .message h2 span.username-wrapper::after {
		content: "Celeste";
		--badgecolor: 153, 76, 0;
		border-color: rgb(var(--badgecolor));
		color: rgb(var(--badgecolor));
		background: rgba(var(--badgecolor), 0.0980392);
	
}

/* Poptart */
.message-group:not(.compact) .avatar-large:-webkit-any([style*="200441902372225024"]) ~ .comment .message h2 span.username-wrapper::after {
	content: "Poptart";
	--badgecolor: 220, 181, 233;
	border-color: rgb(var(--badgecolor));
	color: rgb(var(--badgecolor));
	background: rgba(var(--badgecolor), 0.0980392);

}

/* Elkenn */
.message-group:not(.compact) .avatar-large:-webkit-any([style*="328368410360676353"]) ~ .comment .message h2 span.username-wrapper::after {
	content: "Elkenn";
	--badgecolor: 4, 133, 255;
	border-color: rgb(var(--badgecolor));
	color: rgb(var(--badgecolor));
	background: rgba(var(--badgecolor), 0.0980392);

}

/* Groaxy */
.message-group:not(.compact) .avatar-large:-webkit-any([style*="159025984971079680"]) ~ .comment .message h2 span.username-wrapper::after {
	content: "Groaxy";
	--badgecolor: 200, 0, 200;
	border-color: rgb(var(--badgecolor));
	color: rgb(var(--badgecolor));
	background: rgba(var(--badgecolor), 0.0980392);

}

.avatar-small .status{
	margin: 0 0 0 0 !important;
	right: 2px !important;
	top: -2px;
	position: relative !important;
	height: 30px !important;
	width: 30px !important;
	border-radius: 50% !important;
	background-color: transparent !important;
	border-width: 2px !important;
	border-style: solid !important;
  }

  div[class*="popout-"] > div [class*="avatarStatus-"]{
	margin: 0 0 0 0 !important;
	position: relative !important;
	right: 10px !important;
	top: -100px;
	height: 94px !important;
	width: 94px !important;
	border-radius: 50% !important;
	background-color: transparent !important;
	border-width: 8px !important;
	border-style: solid !important;
	animation: rainbow 4s infinite linear !important;
  }

  #app-mount:before {
	content: 'The Breakfast Club';
	font-family: 'Press Start 2P';
	position: absolute;
	width: 100%;
	height: 100vh;
	line-height: 100vh;
	text-align: center;
	font-size: 80px;
	z-index: -99;
	background: -webkit-linear-gradient(rgb(255, 0, 255) 45%, rgba(255, 255, 255, 0) 55% );
	-webkit-background-clip: text;
	color: transparent;
	text-shadow: -2px -2px 0px rgba(0,0,0,.8);
}

body:before {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: radial-gradient(rgb(70,70,70) , rgb(40,40,40) 80%, rgb(20,20,20) 100%);
	background-size: cover;
	background-position: center;
	z-index: -100;
	opacity: 0.6;
}
.userSettingsAccount-2WOnTW .flexChild-1KGW5q div:nth-of-type(2) .viewBody-14sCmR:not(:hover) {
  filter: blur(5px); }